.box-grid{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 20% auto;
    background-color: #fcdee0;
    gap: 10px;
}

.box-grid > .Logo{
    height: 100%;
    width: auto;
}
h1{
    text-align: center;
}

img{
    max-width: 98%;
    max-height: 98%;
}